
* {
    border: 0;
    box-sizing: border-box;
    
    
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    
    
    margin: 0;
    padding: 0;

    text-decoration: none;

}

a:visited {
    color: inherit;
}

:root {
    --light_blue: #8dbfe8;
    --primary_color: #2D384B;
    --dark_blue: #3D4F69;
    --dark_grey: #2A2828;
    --light_grey: #E1E5E8;

}

html {
    font-size: 18px; 
}

.main-header {
    /* background-image: url('/images/header_img.png'); */
    background-image: linear-gradient(rgba(25, 32, 42, 0.65), rgba(25, 32, 42, 0.75)), url('/images/header_img.png');
    background-attachment: fixed;
    height: 95vh;
    background-size: cover;
    padding: 2rem 2.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: flex-start;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    

}

.top-nav > a {
    margin-left: 2.5rem;
    color: white;
    transition: color .3s;
    border-bottom: 1px solid transparent;
}

.top-nav > a:hover {
    color: var(--light_blue);
    border-bottom: 1px solid var(--light_blue);
    
}

.header-content {
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}

.header-content i {
    font-size: 3rem;
    position: relative;
    top: 100px;
}

.port-header-title {
    font-size: 3rem;
    letter-spacing: 6px;
}

.port-header-subtitle {
    font-size: 2rem;
    color: #B7B5B9;
    font-weight: 300;
}

@media screen and (max-width: 1680px) {

    

}

@media screen and (max-width: 1280px) {


    

}

@media screen and (max-width: 736px) {
    .top-nav {
        font-size: 1.3rem;
    }
    
    .top-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        left: 0;
    }
    
    .main-header {
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 480px) {
    

}
    
@media screen and (max-width: 360px) {

    
}
