body {
    background-color: rgb(218, 225, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #2C3755;
    box-shadow: 0px 0px 8px 10px #1F2C4B; 
    width: 80%;
    height: 80%; 
}

.section {
	height: auto;
    padding: 100px 0;
    width: 90%;
}

.section-top {
    align-items: center;
	display: flex;
	justify-content: center;
	height: 800px;
	padding: 100px 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 auto 0 auto;
	min-height: 200px;
	min-width: 0;
	max-width: 1000px;
	position: relative;
    width: 90%;
}

.left-card {
    align-self: flex-start;
	font-family: 'Merienda', cursive;
	height: 110px;
	max-width: 550px;
    position: relative;
    top: -260px;
	width: 350px;
}

.port-line {
	background-color: rgb(65, 91, 143);
	height: 3px;
	margin: 92px 0px 92px 0; 
	width: 90px;
}

.port-header-title {
	color: rgb(65, 91, 143);
    line-height: 20px;
}

.port-header-subtitle {
    color: #7A787B;
}

.right-card {
    align-self: center;
	bottom: 0px;
	height: 600px;
	left: 200px;
	position: absolute;
	right: 0px;
	top: -310px;
	width: 800px;
}

.right-crd-img {
	display: flex;
	justify-content: center;
	
}

.back-header-img {
	filter: hue-rotation(210deg) blur(90%) grayscale(70%);
	height: 100%;
	position: absolute;
	width: 100%;
}

.navigation-port-menu {
    bottom: 365px;
    left: 625px;
	list-style: none;
	padding-left: 40px;
	margin-bottom: 10px;
	position: absolute;
    right: 100px;
    text-align: left;
	top: 80px;
}

.navigation-port-menu > li {
	font-size: 12px;
	letter-spacing: 2px;
    margin-top: 30px;
}



.navigation-port-menu > li a:hover {
    color: #748EDC;
    border-bottom: 1px solid #748EDC;
}

li > a {
    color: #465B8B;
    font-size: 12px;
    font-weight: bolder; 
	text-decoration: none;
    text-transform: uppercase;

}

@media screen and (max-width: 1080px) and (max-height: 1920px) {
	
	.port-line {
		display: none;
	}
	
	.section {
        height: 400px;
        padding: 70px 0;
	}
	
	.section-top {
		overflow: hidden;
	}
	
	.right-card {
		bottom: -136px;
		height: 400px;
		left: -68.9px;
		right: -16%;
		top: 136px;
		
	}
	
	.port-header-title {
		margin: 328px 0 10px 0;
    }
    
    .port-header-subtitle {
        margin: 21px 0 10px 0;
    }
	
	.navigation-port-menu {
    top: 30px;
    left: -6%;
    }

}
