:root {
  
  /*  Variables  */
  
    /* Darker Blue Colors */
    --dark-blue: #333A67;
    --dark-mid-blue: #2D67C3; 
    --dark-lighter-blue: #2A62C4;

    /*  Lighter Blue Colors */
    --mid-blue: #3E8BAB;
    --middler-blue: #5BA4BD;
    --mid-lighter-blue: #4B8AA4;

    /*  Green Colors */
    --darker-light-green: #4FAD8B;
    --light-green: #6FEF69;
    --mid-green: #5CC681;
  }
  
  body {

    /*  Layout  */
    display: flex;
    
    /*  Margin  */
    flex-direction: column;
    height: 800px;  
    
    /*  Position  */
    align-items: center;
    justify-content: center;
  }
  
  .card {
    
    /*  Animations  */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: borderChange;
    animation-timing-function: ease-in-out;
    transform: rotate(35deg) rotateX(20deg) rotateY(-30deg);
    
    /*  Outline  */
    border: 5px solid rgb(212, 212, 212);
    box-shadow: 9px 7px rgb(233, 233, 233);
  }
  
  .card:hover {
    transform: none;
  }
  
  .card,
  .card:hover {
    transition: all 0.8s ease-in-out;
  }
  
  .top-card {
    padding: 0 1em;
  }
  
  .profile-name {
    font-style: italic;
  }
  
  .picture {
    width: 300px;
  }
  
  .bottom-card {
    
    /*  Animation  */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: borderChange;
    animation-timing-function: ease-in-out;
    
    /*  Color  */
    border: 2px solid rgb(212, 212, 212);
    
    /*  Margin  */
    margin: 1em;
    width: 300px;
  }
  
  .bottom-container {
    
    /*   Font   */
    font-size: 14px;
    
    /*  Margin  */
    padding: 1em;
  }
  
  .fact-title {
    font-style: italic;
  }
  
  .profile-facts {
    
    /*  Decorations  */
    list-style: none;
    
    /*  Margin  */
    padding-left: 0;
  }
  
  span {
    font-weight: bold;
  }
  
  @keyframes borderChange {
    0% {border-color: var(--dark-blue);}
    16.6% {border-color: var(--dark-mid-blue);}
    32.6% {border-color: var(--dark-lighter-blue);}
    48.6% {border-color: var(--mid-blue);}
    64.6% {border-color: var(--darker-light-green);}
    80.6% {border-color: var(--mid-green);}
    90.6% {border-color: var(--light-green);}
    96.8% {border-color: var(--middler-blue);}
    100% {border-color: var(--mid-lighter-blue);}
   }