:root {
  
  /*  Variables  */
  
    /* Darker Blue Colors */
    --dark-blue: #333A67;
    --dark-mid-blue: #2D67C3; 
    --dark-lighter-blue: #2A62C4;

    /*  Lighter Blue Colors */
    --mid-blue: #3E8BAB;
    --middler-blue: #5BA4BD;
    --mid-lighter-blue: #4B8AA4;

    /*  Green Colors */
    --darker-light-green: #4FAD8B;
    --light-green: #6FEF69;
    --mid-green: #5CC681;
  }
  
  body {

    /*  Layout  */
    display: flex;
    
    /*  Margin  */
    flex-direction: column;
    height: 800px;  
    
    /*  Position  */
    align-items: center;
    justify-content: center;
  }
  
  .card {
    
    /*  Animations  */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: borderChange;
    animation-timing-function: ease-in-out;
    transform: rotate(35deg) rotateX(20deg) rotateY(-30deg);
    
    /*  Outline  */
    border: 5px solid rgb(212, 212, 212);
    box-shadow: 9px 7px rgb(233, 233, 233);
  }
  
  .card:hover {
    transform: none;
  }
  
  .card,
  .card:hover {
    transition: all 0.8s ease-in-out;
  }
  
  .top-card {
    padding: 0 1em;
  }
  
  .profile-name {
    font-style: italic;
  }
  
  