/* add your CSS here */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.card {
  border: 2px solid rgb(212, 212, 212);
  box-shadow: 7px 5px rgb(233, 233, 233);
}

.top-card {
  padding: 0 1em;
}

.picture {
  width: 300px;
}

.bottom-card {
  margin: 1em;
  border: 1px solid rgb(212, 212, 212);
  width: 300px;
}

.bottom-container {
  padding: 1em;
  font-size: 12px;
}

.fact-title {
  font-style: italic;
}

.profile-facts {
  list-style: none;
  padding-left: 0;
}

span {
  font-weight: bold;
}
